Repository musescore/MuseScore, pull requests merged in 2024-03, with the labels that each got.

#21734 Correct caesura placement & add unsupported sib output
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testNoteAttributes2_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#21761 Set hairpin's default placement to 'Above' on vocal staves
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testPlacementDefaults.xml
  src/importexport/musicxml/tests/data/testPlacementDefaults_ref.mscx
Labels: MusicXML

#21828 MusicXML: Export harp pedal diagrams
  src/importexport/musicxml/internal/musicxml/exportxml.cpp
  src/importexport/musicxml/tests/data/testHarpPedals.mscx
  src/importexport/musicxml/tests/data/testHarpPedals_ref.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#21772 Fix #19019: fix empty figured-bass in MusicXML export
  src/importexport/musicxml/internal/musicxml/exportxml.cpp
Labels: MusicXML

#21692 Fix cross-staff cross-system tie bug
  src/engraving/rendering/dev/slurtielayout.cpp
  src/engraving/rendering/dev/slurtielayout.h
  vtest/scores/tie-18.mscz
Labels: vtests, MusicXML

#21806 Apply default font to all elements only when XML import config option is set
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.cpp
  src/importexport/musicxml/tests/data/testArpCrossVoice_ref.mscx
  src/importexport/musicxml/tests/data/testBeamModes_ref.mscx
  src/importexport/musicxml/tests/data/testBracketTypes_ref.mscx
  src/importexport/musicxml/tests/data/testCodaHBox_ref.mscx
  src/importexport/musicxml/tests/data/testCopyrightScale_ref.mscx
  src/importexport/musicxml/tests/data/testCueGraceNotes_ref.mscx
  src/importexport/musicxml/tests/data/testCueNotes3_ref.mscx
  src/importexport/musicxml/tests/data/testDSalCodaMisplaced_ref.mscx
  src/importexport/musicxml/tests/data/testDSalCoda_ref.mscx
  src/importexport/musicxml/tests/data/testElision_ref.mscx
  src/importexport/musicxml/tests/data/testExcessHiddenStaves_ref.mscx
  src/importexport/musicxml/tests/data/testInferredSubtitle_ref.mscx
  src/importexport/musicxml/tests/data/testLyricBracket_ref.mscx
  src/importexport/musicxml/tests/data/testLyricPos_ref.mscx
  src/importexport/musicxml/tests/data/testMeasureStyleSlash_ref.mscx
  src/importexport/musicxml/tests/data/testNegativeOffset_ref.mscx
  src/importexport/musicxml/tests/data/testPartNames_ref.mscx
  src/importexport/musicxml/tests/data/testPedalChangesBroken_ref.mscx
  src/importexport/musicxml/tests/data/testPlacementDefaults_ref.mscx
  src/importexport/musicxml/tests/data/testSecondVoiceMelismata_ref.mscx
  src/importexport/musicxml/tests/data/testSibMetronomeMarks_ref.mscx
  src/importexport/musicxml/tests/data/testSibOttavas_ref.mscx
  src/importexport/musicxml/tests/data/testStaffEmptiness_ref.mscx
  src/importexport/musicxml/tests/data/testTempoTextSpace1_ref.mscx
  src/importexport/musicxml/tests/data/testTempoTextSpace2_ref.mscx
  src/importexport/musicxml/tests/data/testTextOrder_ref.mscx
  src/importexport/musicxml/tests/data/testTextQuirkInference_ref.mscx
  src/importexport/musicxml/tests/data/testVoltaHiding_ref.mscx
  src/importexport/musicxml/tests/data/testWedgeOffset_ref.mscx
Labels: MusicXML

#21842 Set spanner position by checking totalY
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
Labels: MusicXML

#21862 Set lyric position precisely on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testCueNotes3_ref.mscx
  src/importexport/musicxml/tests/data/testElision_ref.mscx
  src/importexport/musicxml/tests/data/testInferredSubtitle_ref.mscx
  src/importexport/musicxml/tests/data/testLyricBracket_ref.mscx
  src/importexport/musicxml/tests/data/testLyricPos_ref.mscx
  src/importexport/musicxml/tests/data/testPartNames_ref.mscx
  src/importexport/musicxml/tests/data/testPlacementDefaults_ref.mscx
  src/importexport/musicxml/tests/data/testSecondVoiceMelismata_ref.mscx
  src/importexport/musicxml/tests/data/testTextOrder_ref.mscx
Labels: MusicXML

#21860 New cross-staff beam position controls
  src/engraving/CMakeLists.txt
  src/engraving/compat/engravingcompat.cpp
  src/engraving/compat/engravingcompat.h
  src/engraving/dom/beam.cpp
  src/engraving/dom/beam.h
  src/engraving/dom/beambase.cpp
  src/engraving/dom/beambase.h
  src/engraving/dom/chordrest.cpp
  src/engraving/dom/chordrest.h
  src/engraving/dom/property.cpp
  src/engraving/dom/property.h
  src/engraving/dom/tremolotwochord.cpp
  src/engraving/dom/tremolotwochord.h
  src/engraving/rendering/dev/beamlayout.cpp
  src/engraving/rendering/dev/beamlayout.h
  src/engraving/rendering/dev/beamtremololayout.cpp
  src/engraving/rendering/dev/beamtremololayout.h
  src/engraving/rendering/dev/chordlayout.cpp
  src/engraving/rendering/dev/chordlayout.h
  src/engraving/rendering/dev/measurelayout.cpp
  src/engraving/rendering/dev/measurelayout.h
  src/engraving/rendering/dev/pagelayout.cpp
  src/engraving/rendering/dev/systemlayout.cpp
  src/engraving/rendering/dev/systemlayout.h
  src/engraving/rendering/stable/beamlayout.cpp
  src/engraving/rw/read410/tread.cpp
  src/engraving/rw/write/twrite.cpp
  src/inspector/models/notation/notes/beams/beamsettingsmodel.cpp
  src/inspector/models/notation/notes/beams/beamsettingsmodel.h
  src/inspector/view/qml/MuseScore/Inspector/notation/notes/BeamSettings.qml
  src/project/internal/notationproject.cpp
  src/project/internal/projectmigrator.cpp
  vtest/scores/slur-12-crossStaff.mscz
Labels: vtests

#21908 Port collection of backend text inference PRs
  src/appshell/qml/Preferences/ImportPreferencesPage.qml
  src/appshell/qml/Preferences/internal/MusicXmlSection.qml
  src/appshell/view/preferences/importpreferencesmodel.cpp
  src/appshell/view/preferences/importpreferencesmodel.h
  src/importexport/musicxml/imusicxmlconfiguration.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/internal/musicxmlconfiguration.cpp
  src/importexport/musicxml/internal/musicxmlconfiguration.h
  src/importexport/musicxml/tests/data/testInferredCredits1.xml
  src/importexport/musicxml/tests/data/testInferredCredits1_ref.mscx
  src/importexport/musicxml/tests/data/testInferredCredits2.xml
  src/importexport/musicxml/tests/data/testInferredCredits2_ref.mscx
  src/importexport/musicxml/tests/data/testStaffEmptiness_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22032 Port Infer XML fingering
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferredFingerings.pdf
  src/importexport/musicxml/tests/data/testInferredFingerings.xml
  src/importexport/musicxml/tests/data/testInferredFingerings_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML
