Repository musescore/MuseScore, pull requests merged in 2024-12, with the labels that each got.

#25678 Muse sounds page
  CMakeLists.txt
  SetupConfigure.cmake
  src/CMakeLists.txt
  src/app/CMakeLists.txt
  src/app/appfactory.cpp
  src/appshell/qml/HomePage/HomeMenu.qml
  src/appshell/qml/HomePage/HomePage.qml
  src/framework/cloud/qml/Muse/Cloud/CloudScoresView.qml
  src/framework/global/serialization/json.cpp
  src/framework/global/serialization/json.h
  src/framework/global/types/uri.cpp
  src/framework/global/types/uri.h
  src/framework/learn/internal/learnservice.cpp
  src/framework/learn/internal/learnservice.h
  src/framework/learn/qml/Muse/Learn/internal/Playlist.qml
  src/musesounds/CMakeLists.txt
  src/musesounds/imusesoundsconfiguration.h
  src/musesounds/imusesoundsrepository.h
  src/musesounds/internal/musesoundsconfiguration.cpp
  src/musesounds/internal/musesoundsconfiguration.h
  src/musesounds/internal/musesoundsrepository.cpp
  src/musesounds/internal/musesoundsrepository.h
  src/musesounds/musesounds.qrc
  src/musesounds/musesoundsmodule.cpp
  src/musesounds/musesoundsmodule.h
  src/musesounds/musesoundstypes.h
  src/musesounds/qml/MuseScore/MuseSounds/MuseSoundsPage.qml
  src/musesounds/qml/MuseScore/MuseSounds/internal/SoundCatalogueListView.qml
  src/musesounds/qml/MuseScore/MuseSounds/internal/SoundLibraryItem.qml
  src/musesounds/qml/MuseScore/MuseSounds/qmldir
  src/musesounds/view/musesoundslistmodel.cpp
  src/musesounds/view/musesoundslistmodel.h
  src/notation/internal/notationstyle.cpp
  src/update/internal/updatescenario.h
Labels: muse sounds

#25798 Fixed Text input field
  src/framework/uicomponents/tests/doubleinputvalidator_tests.cpp
  src/framework/uicomponents/view/validators/doubleinputvalidator.cpp
Labels: UI, regression nightly

#25869 [MusicXML] improve import/export of notations
  src/importexport/musicxml/internal/musicxml/export/exportmusicxml.cpp
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
Labels: MusicXML

#25914 Correct dynamic end-of-duration alignment in case of clefs
  src/engraving/rendering/score/measurelayout.cpp
  src/engraving/rendering/score/tlayout.cpp
  vtest/scores/dynamics-11.mscz
Labels: vtests, engraving
