Repository musescore/MuseScore, pull requests merged in 2024-06, with the labels that each got.

#22566 Prevent overlapping fingering text on cross stave beams
  src/engraving/rendering/dev/pagelayout.cpp
  vtest/scores/fingeringCross.mscz
Labels: vtests

#23001 Add an option to separate layout of similarly stemmed voices
  src/engraving/dom/chord.cpp
  src/engraving/dom/chord.h
  src/engraving/dom/property.cpp
  src/engraving/dom/property.h
  src/engraving/rendering/dev/chordlayout.cpp
  src/engraving/rendering/dev/chordlayout.h
  src/engraving/rendering/dev/tlayout.cpp
  src/engraving/rw/read410/tread.cpp
  src/engraving/rw/write/twrite.cpp
  src/engraving/style/styledef.cpp
  src/engraving/style/styledef.h
  src/inspector/models/notation/notes/chords/chordsettingsmodel.cpp
  src/inspector/models/notation/notes/chords/chordsettingsmodel.h
  src/inspector/view/qml/MuseScore/Inspector/common/PropertyToggle.qml
  src/inspector/view/qml/MuseScore/Inspector/notation/notes/HeadSettings.qml
  src/inspector/view/qml/MuseScore/Inspector/notation/notes/NoteSettings.qml
  src/notation/view/widgets/editstyle.cpp
  src/notation/view/widgets/editstyle.ui
  vtest/scores/separate-voice-layout.mscz
Labels: engraving

#19858 Fixed accessibility for Not selected key signatures
  src/project/qml/MuseScore/Project/internal/NewScore/KeySignatureListView.qml
Labels: needs review, accessibility

#23177 Set custom noteheads to normal on non drumset staves
  src/engraving/dom/note.cpp
Labels: MusicXML

#23107 Collection of fixes for stave offset layout issues
  src/engraving/dom/chord.cpp
  src/engraving/dom/engravingitem.cpp
  src/engraving/dom/engravingitem.h
  src/engraving/dom/line.cpp
  src/engraving/dom/lyrics.cpp
  src/engraving/dom/segment.cpp
  src/engraving/dom/staff.cpp
  src/engraving/dom/staff.h
  src/engraving/rendering/dev/autoplace.cpp
  src/engraving/rendering/dev/chordlayout.cpp
  src/engraving/rendering/dev/measurelayout.cpp
  src/engraving/rendering/dev/slurtielayout.cpp
  src/engraving/rendering/dev/systemlayout.cpp
  src/engraving/rendering/dev/tdraw.cpp
  src/engraving/rendering/dev/tlayout.cpp
  src/engraving/rendering/dev/tremololayout.cpp
  src/engraving/rendering/dev/tupletlayout.cpp
  src/engraving/rendering/single/singledraw.cpp
  src/notation/internal/notationnoteinput.cpp
  vtest/scores/staff-offset.mscz
Labels: vtests

#23175 Fix error on Ottavas ending at a system end
  src/engraving/dom/ottava.cpp
  vtest/scores/ottava-2.mscz
Labels: vtests

#23166 Corrections to volta default positions around clefs, headers and beginning of systems
  src/engraving/dom/volta.cpp
  vtest/scores/volta-1.mscz
  vtest/scores/volta-2.mscz
  vtest/scores/volta-3.mscz
Labels: vtests

#23207 Correct dynamics on import from Finale
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testFinaleDynamics.xml
  src/importexport/musicxml/tests/data/testFinaleDynamics_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#23218 Include single-chord tremolos in chord shape
  src/engraving/rendering/dev/chordlayout.cpp
  src/engraving/rendering/paddingtable.cpp
  vtest/scores/tremolo-collision.mscz
Labels: vtests

#23190 Fix more anchors-related issues
  src/engraving/dom/anchors.cpp
  src/engraving/dom/dynamic.cpp
  src/engraving/dom/dynamic.h
  src/engraving/dom/edit.cpp
  src/engraving/dom/hairpin.cpp
  src/engraving/dom/measure.cpp
  src/engraving/dom/measure.h
  src/engraving/dom/score.cpp
  src/engraving/dom/segment.cpp
  src/engraving/dom/types.h
  src/engraving/rendering/dev/measurelayout.cpp
  src/engraving/rw/write/twrite.cpp
  src/engraving/tests/compat206_data/textstyles-ref.mscx
  src/engraving/tests/spanners_data/smallstaff01-ref.mscx
  src/importexport/guitarpro/tests/data/artificial-harmonic.gp-ref.mscx
  src/importexport/guitarpro/tests/data/artificial-harmonic.gpx-ref.mscx
  src/importexport/guitarpro/tests/data/crescendo-diminuendo.gp-ref.mscx
  src/importexport/guitarpro/tests/data/crescendo-diminuendo.gpx-ref.mscx
  src/importexport/guitarpro/tests/data/line_elements.gp-ref.mscx
  src/importexport/guitarpro/tests/data/line_elements.gp5-ref.mscx
  src/importexport/guitarpro/tests/data/vibrato.gp5-ref.mscx
  src/importexport/musicxml/tests/data/testBracketTypes_ref.mscx
  src/importexport/musicxml/tests/data/testPedalChangesBroken_ref.mscx
  src/importexport/musicxml/tests/data/testTimeTick_ref.mscx
Labels: vtests

#23231 Infer 'shift' fingering on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferredFingerings.xml
  src/importexport/musicxml/tests/data/testInferredFingerings_ref.mscx
Labels: MusicXML

#23237 Correct XML credits
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.cpp
  src/importexport/musicxml/tests/data/testInferredRights.xml
  src/importexport/musicxml/tests/data/testInferredRights_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#23249 Add more cases to finale dynamic inference
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testFinaleDynamics.xml
  src/importexport/musicxml/tests/data/testFinaleDynamics_ref.mscx
Labels: MusicXML

#23286 Don't add redundant instrument changes on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testDuplicateInstrChange.xml
  src/importexport/musicxml/tests/data/testDuplicateInstrChange_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#23300 Infer dynamic range on xml import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferredDynamicRange.xml
  src/importexport/musicxml/tests/data/testInferredDynamicRange_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#23197 Enforce minimum stem length for notes within beamed groups
  src/engraving/rendering/dev/beamtremololayout.cpp
  src/engraving/rendering/dev/beamtremololayout.h
  src/engraving/tests/selectionrangedelete_data/selectionrangedelete06_partialnestedtuplets-ref.mscx
  src/importexport/guitarpro/tests/data/slur-notes-effect-mask.gp-ref.mscx
  src/importexport/guitarpro/tests/data/slur-notes-effect-mask.gp5-ref.mscx
  src/importexport/guitarpro/tests/data/slur-notes-effect-mask.gpx-ref.mscx
  src/importexport/mei/tests/data/tuplet-02.mscx
  vtest/scores/beams-27.mscz
Labels: vtests

#23315 Fix spacing glitches caused by anchors
  src/engraving/dom/engravingitem.cpp
  src/engraving/dom/engravingitem.h
  src/engraving/dom/measure.cpp
  src/engraving/dom/measure.h
  src/engraving/dom/segment.cpp
  src/engraving/dom/segment.h
  src/engraving/dom/segmentlist.cpp
  src/engraving/dom/segmentlist.h
  src/engraving/rendering/dev/horizontalspacing.cpp
  src/engraving/rendering/dev/measurelayout.cpp
Labels: vtests, engraving

#23310 Identify system object staves on xml import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testImportDrums_ref.mscx
  src/importexport/musicxml/tests/data/testPlacementDefaults_ref.mscx
  src/importexport/musicxml/tests/data/testSystemObjectStaves.xml
  src/importexport/musicxml/tests/data/testSystemObjectStaves_ref.mscx
  src/importexport/musicxml/tests/data/testTempo1.xml
  src/importexport/musicxml/tests/data/testTempo3_ref.xml
  src/importexport/musicxml/tests/data/testTempo4_ref.xml
  src/importexport/musicxml/tests/data/testTempoOverlap_ref.xml
  src/importexport/musicxml/tests/data/testTextOrder_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#23227 Format fractions nicely on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferFraction.xml
  src/importexport/musicxml/tests/data/testInferFraction_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#23366 Improve XML instrument import
  src/engraving/dom/instrtemplate.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testFinaleInstr.xml
  src/importexport/musicxml/tests/data/testFinaleInstr2.xml
  src/importexport/musicxml/tests/data/testFinaleInstr2_ref.mscx
  src/importexport/musicxml/tests/data/testFinaleInstr_ref.mscx
  src/importexport/musicxml/tests/data/testVirtualInstruments_ref.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#23363 Add wavy chordlines and import from XML
  src/engraving/dom/chordline.cpp
  src/engraving/dom/chordline.h
  src/engraving/rendering/dev/tdraw.cpp
  src/engraving/rendering/dev/tlayout.cpp
  src/engraving/rendering/single/singledraw.cpp
  src/engraving/rendering/single/singlelayout.cpp
  src/engraving/rendering/stable/tdraw.cpp
  src/engraving/rendering/stable/tlayout.cpp
  src/engraving/types/typesconv.cpp
  src/engraving/types/typesconv.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testGlissFall.xml
  src/importexport/musicxml/tests/data/testGlissFall_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
  src/palette/internal/palettecreator.cpp
  vtest/scores/chordLine.mscz
Labels: vtests, engraving, MusicXML

#23376 Use correct accidental symbols in instrument names
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testFinaleInstr_ref.mscx
  src/importexport/musicxml/tests/data/testInstrImport_ref.mscx
Labels: MusicXML

#22928 Infer percussion instruments and follow display-step and notehead in XML
  src/engraving/dom/instrtemplate.cpp
  src/engraving/dom/instrtemplate.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/internal/musicxml/musicxmlsupport.h
  src/importexport/musicxml/tests/data/testImportDrums2_ref.mscx
  src/importexport/musicxml/tests/data/testImportDrums_ref.mscx
Labels: MusicXML
