Repository musescore/MuseScore, pull requests merged in 2024-04, with the labels that each got.

#22162 Use correct stave for tremolo page pos
  src/engraving/dom/tremolo.cpp
  src/engraving/dom/tremolo.h
  vtest/scores/trem-cross-stave.mscz
Labels: vtests

#22172 Remove xml import pedal endpoint hack
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testPedalChangesBroken_ref.mscx
Labels: MusicXML

#22201 Fix wrong layout with mmRests in old files
  src/engraving/dom/segment.cpp
  src/engraving/rw/read114/read114.cpp
  src/engraving/rw/read206/read206.cpp
Labels: engraving

#22183 Infer tempo text based on a set of words on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferredTempoText.xml
  src/importexport/musicxml/tests/data/testInferredTempoText_ref.mscx
  src/importexport/musicxml/tests/data/testTextOrder_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22151 Hide XML text inference behind toggle
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22212 Refine spacing in XML header vboxes
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
Labels: MusicXML

#22083 Fix #22080: Detect anacrusis for beaming and grouping
  src/engraving/dom/durationtype.cpp
  src/engraving/dom/groups.cpp
  src/engraving/dom/measure.cpp
  src/engraving/dom/measure.h
  src/engraving/dom/swing.cpp
  src/notation/internal/masternotation.cpp
  vtest/scores/beams-anacrusis.mscz
Labels: vtests

#22143 Port infer dynamics
  src/engraving/dom/dynamic.cpp
  src/engraving/dom/dynamic.h
  src/engraving/types/typesconv.cpp
  src/engraving/types/typesconv.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferredCrescLines.xml
  src/importexport/musicxml/tests/data/testInferredCrescLines2.xml
  src/importexport/musicxml/tests/data/testInferredCrescLines2_ref.mscx
  src/importexport/musicxml/tests/data/testInferredCrescLines_ref.mscx
  src/importexport/musicxml/tests/data/testInferredDynamicsExpression.xml
  src/importexport/musicxml/tests/data/testInferredDynamicsExpression_ref.mscx
  src/importexport/musicxml/tests/data/testPlacementDefaults_ref.mscx
  src/importexport/musicxml/tests/data/testTextOrder_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22220 Untick 'Follow written tempo' for verbal tempo indications on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
Labels: MusicXML

#22270 custom_instruments
  src/engraving/dom/instrtemplate.cpp
  src/engraving/dom/instrtemplate.h
  src/engraving/dom/instrument.cpp
  src/engraving/dom/instrument.h
  src/engraving/dom/mcursor.cpp
  src/engraving/dom/score.cpp
  src/engraving/dom/scoreorder.cpp
  src/engraving/playback/mapping/keyboardssetupdataresolver.cpp
  src/engraving/playback/mapping/percussionssetupdataresolver.cpp
  src/engraving/playback/mapping/stringssetupdataresolver.cpp
  src/engraving/playback/mapping/voicessetupdataresolver.cpp
  src/engraving/playback/mapping/windssetupdataresolver.cpp
  src/engraving/playback/playbacksetupdataresolver.cpp
  src/engraving/rw/read410/tread.cpp
  src/engraving/rw/write/twrite.cpp
  src/engraving/tests/playbackmodel_tests.cpp
  src/framework/audio/internal/synthesizers/fluidsynth/fluidsynth.cpp
  src/framework/audio/internal/synthesizers/fluidsynth/soundmapping.h
  src/framework/mpe/CMakeLists.txt
  src/framework/mpe/events.h
  src/framework/mpe/playbacksetupdata.h
  src/framework/mpe/soundid.h
  src/framework/musesampler/CMakeLists.txt
  src/framework/musesampler/imusesamplerinfo.h
  src/framework/musesampler/internal/apitypes.h
  src/framework/musesampler/internal/libhandler.h
  src/framework/musesampler/internal/musesamplerresolver.cpp
  src/framework/musesampler/internal/musesamplerresolver.h
  src/framework/musesampler/musesamplertypes.h
  src/importexport/midi/internal/midiimport/importmidi_instrument.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/instrumentsscene/internal/selectinstrumentscenario.cpp
  src/instrumentsscene/internal/selectinstrumentscenario.h
  src/instrumentsscene/view/instrumentlistmodel.cpp
  src/instrumentsscene/view/instrumentlistmodel.h
  src/instrumentsscene/view/instrumentsonscorelistmodel.cpp
  src/notation/iinstrumentsrepository.h
  src/notation/internal/instrumentsrepository.cpp
  src/notation/internal/instrumentsrepository.h
  src/notation/internal/notationparts.cpp
  src/notation/notationtypes.h
  src/playback/internal/drumsetloader.cpp
  src/project/view/newscoremodel.cpp
  src/stubs/notation/instrumentsrepositorystub.cpp
  src/stubs/notation/instrumentsrepositorystub.h
Labels: instruments, muse sounds

#22310 Add support for inferring numbered codas and segnos on XML import
  src/framework/global/types/string.cpp
  src/framework/global/types/string.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testDCalCoda.xml
  src/importexport/musicxml/tests/data/testDSalCodaMisplaced_ref.mscx
  src/importexport/musicxml/tests/data/testDSalCoda_ref.mscx
  src/importexport/musicxml/tests/data/testInferCodaII.xml
  src/importexport/musicxml/tests/data/testInferCodaII_ref.mscx
  src/importexport/musicxml/tests/data/testInferSegnoII.xml
  src/importexport/musicxml/tests/data/testInferSegnoII_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22462 Hide XML inferred cresc's continue text
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
Labels: MusicXML

#22455 Remove hanging ties on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testBackupRoundingError_ref.mscx
  src/importexport/musicxml/tests/data/testUnterminatedTies.xml
  src/importexport/musicxml/tests/data/testUnterminatedTies_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22329 Fix duplicate chords exported by Dolet
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/internal/musicxml/musicxmlsupport.h
  src/importexport/musicxml/tests/data/testChordSymbols2.xml
  src/importexport/musicxml/tests/data/testChordSymbols2_ref.mscx
  src/importexport/musicxml/tests/data/testHarmony2.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22474 Discard new pedal start if there is an unfinished pedal change
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testPedalChangesBroken.pdf
  src/importexport/musicxml/tests/data/testPedalChangesBroken_ref.mscx
Labels: MusicXML

#22536 Infer sticking on XML import
  src/importexport/musicxml/internal/musicxml/exportxml.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.h
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/internal/musicxml/importxmlfirstpass.cpp
  src/importexport/musicxml/internal/musicxml/importxmlfirstpass.h
  src/importexport/musicxml/tests/data/testSticking.xml
  src/importexport/musicxml/tests/data/testSticking_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22576 Set notehead scheme from XML `<notehead>` tag
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testNamedNoteheads.xml
  src/importexport/musicxml/tests/data/testNamedNoteheads_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22577 Read 'print-object' for directions and write for tempo
  src/importexport/musicxml/internal/musicxml/exportxml.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testExcludeInvisibleElements_invisible_ref.xml
  src/importexport/musicxml/tests/data/testInvisibleDirection.xml
  src/importexport/musicxml/tests/data/testSound1_ref.xml
  src/importexport/musicxml/tests/data/testSound2_ref.xml
  src/importexport/musicxml/tests/data/testTempoOverlap_ref.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22554 Right-align measure-anchored text to the barline
  src/engraving/dom/textbase.cpp
  vtest/scores/text-barline-alignment.mscz
Labels: vtests
