Repository musescore/MuseScore, pull requests merged in 2024-05, with the labels that each got.

#22602 Fix #22601: Include text alignment in line layout
  src/engraving/rendering/dev/tlayout.cpp
  vtest/scores/text-line-alignment.mscz
Labels: vtests

#22632 Change tempo text inference conditions
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferredTempoText2.xml
  src/importexport/musicxml/tests/data/testInferredTempoText2_ref.mscx
  src/importexport/musicxml/tests/data/testTempo1.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22647 Support import and export of XML buzzrolls
  src/importexport/musicxml/internal/musicxml/exportxml.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testBuzzRoll.xml
  src/importexport/musicxml/tests/data/testBuzzRoll2.xml
  src/importexport/musicxml/tests/data/testBuzzRoll_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22673 Don't use XML y in sticking placement
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testSticking_ref.mscx
Labels: MusicXML

#22737 Remove duplicate articulations on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testArticulationCombination.xml
  src/importexport/musicxml/tests/data/testArticulationCombination_ref.xml
Labels: MusicXML

#22752 Scale title text on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass1.h
  src/importexport/musicxml/tests/data/testCopyrightScale.xml
  src/importexport/musicxml/tests/data/testCopyrightScale_ref.mscx
Labels: MusicXML

#22434 Lyrics revamp and new options
  src/engraving/compat/engravingcompat.cpp
  src/engraving/dom/chordtextlinebase.cpp
  src/engraving/dom/engravingitem.h
  src/engraving/dom/lyrics.cpp
  src/engraving/dom/lyrics.h
  src/engraving/dom/lyricsline.cpp
  src/engraving/dom/ottava.cpp
  src/engraving/dom/score.cpp
  src/engraving/dom/score.h
  src/engraving/dom/textbase.cpp
  src/engraving/dom/textbase.h
  src/engraving/dom/trill.cpp
  src/engraving/infrastructure/shape.cpp
  src/engraving/infrastructure/shape.h
  src/engraving/rendering/dev/horizontalspacing.cpp
  src/engraving/rendering/dev/horizontalspacing.h
  src/engraving/rendering/dev/lyricslayout.cpp
  src/engraving/rendering/dev/lyricslayout.h
  src/engraving/rendering/dev/systemlayout.cpp
  src/engraving/rendering/dev/tdraw.cpp
  src/engraving/rendering/dev/tlayout.cpp
  src/engraving/rendering/stable/horizontalspacing.cpp
  src/engraving/rendering/stable/lyricslayout.cpp
  src/engraving/rendering/stable/lyricslayout.h
  src/engraving/rendering/stable/systemlayout.cpp
  src/engraving/rendering/stable/tdraw.cpp
  src/engraving/style/styledef.cpp
  src/engraving/style/styledef.h
  src/engraving/types/propertyvalue.cpp
  src/engraving/types/propertyvalue.h
  src/engraving/types/types.h
  src/engraving/types/typesconv.cpp
  src/engraving/types/typesconv.h
  src/notation/view/widgets/editstyle.cpp
  src/notation/view/widgets/editstyle.h
  src/notation/view/widgets/editstyle.ui
  vtest/scores/lyrics-10.mscz
  vtest/scores/lyrics-17.mscz
  vtest/scores/lyrics-18.mscz
  vtest/scores/lyrics-19.mscz
  vtest/scores/lyrics-20.mscz
Labels: vtests

#22804 Correct multimeasure rest repeat barlines
  src/engraving/rendering/dev/horizontalspacing.cpp
  src/engraving/rendering/dev/measurelayout.cpp
  vtest/scores/mmrest-17.mscz
Labels: vtests

#22873 Tempo inference update
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/tests/data/testBackupRoundingError_ref.mscx
  src/importexport/musicxml/tests/data/testInferredTempoText.xml
  src/importexport/musicxml/tests/data/testInferredTempoText_ref.mscx
Labels: MusicXML

#22876 Infer crescendo/diminuendo on XML import fix
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
Labels: MusicXML

#22853 Improve key signature shape and distances
  share/styles/MuseJazz.mss
  share/templates/01-General/01-Treble_Clef/score_style.mss
  share/templates/01-General/02-Bass_Clef/score_style.mss
  share/templates/01-General/03-Grand_Staff/score_style.mss
  share/templates/02-Choral/01-SATB/score_style.mss
  share/templates/02-Choral/02-SATB_+_Organ/score_style.mss
  share/templates/02-Choral/03-SATB_+_Piano/score_style.mss
  share/templates/02-Choral/04-SATB_Closed_Score/score_style.mss
  share/templates/02-Choral/05-SATB_Closed_Score_+_Organ/score_style.mss
  share/templates/02-Choral/06-SATB_Closed_Score_+_Piano/score_style.mss
  share/templates/02-Choral/07-Voice_+_Piano/score_style.mss
  share/templates/02-Choral/08-Barbershop_Quartet_(Men)/score_style.mss
  share/templates/02-Choral/09-Barbershop_Quartet_(Women)/score_style.mss
  share/templates/02-Choral/10-Liturgical_Unmetrical/score_style.mss
  share/templates/02-Choral/11-Liturgical_Unmetrical_+_Organ/score_style.mss
  share/templates/03-Chamber_Music/01-String_Quartet/score_style.mss
  share/templates/03-Chamber_Music/02-Wind_Quartet/score_style.mss
  share/templates/03-Chamber_Music/03-Wind_Quintet/score_style.mss
  share/templates/03-Chamber_Music/04-Saxophone_Quartet/score_style.mss
  share/templates/03-Chamber_Music/05-Brass_Quartet/score_style.mss
  share/templates/03-Chamber_Music/06-Brass_Quintet/score_style.mss
  share/templates/04-Solo/01-Guitar/score_style.mss
  share/templates/04-Solo/02-Guitar_+_Tablature/score_style.mss
  share/templates/04-Solo/03-Guitar_Tablature/score_style.mss
  share/templates/04-Solo/04-Piano/score_style.mss
  share/templates/05-Jazz/01-Jazz_Lead_Sheet/score_style.mss
  share/templates/05-Jazz/02-Big_Band/score_style.mss
  share/templates/05-Jazz/03-Jazz_Combo/score_style.mss
  share/templates/06-Popular/01-Rock_Band/score_style.mss
  share/templates/06-Popular/02-Bluegrass_Band/score_style.mss
  share/templates/07-Band_and_Percussion/01-Concert_Band/score_style.mss
  share/templates/07-Band_and_Percussion/02-Small_Concert_Band/score_style.mss
  share/templates/07-Band_and_Percussion/03-Brass_Band/score_style.mss
  share/templates/07-Band_and_Percussion/04-Marching_Band/score_style.mss
  share/templates/07-Band_and_Percussion/05-Small_Marching_Band/score_style.mss
  share/templates/07-Band_and_Percussion/06-Battery_Percussion/score_style.mss
  share/templates/07-Band_and_Percussion/07-Large_Pit_Percussion/score_style.mss
  share/templates/07-Band_and_Percussion/08-Small_Pit_Percussion/score_style.mss
  share/templates/07-Band_and_Percussion/09-European_Concert_Band/score_style.mss
  share/templates/08-Orchestral/01-Classical_Orchestra/score_style.mss
  share/templates/08-Orchestral/02-Symphony_Orchestra/score_style.mss
  share/templates/08-Orchestral/03-String_Orchestra/score_style.mss
  src/engraving/rendering/dev/tlayout.cpp
  src/engraving/style/styledef.cpp
  src/importexport/musicxml/tests/data/testLayout.xml
  src/importexport/musicxml/tests/data/testSystemDistance_ref.xml
  src/importexport/musicxml/tests/data/testSystemDividers.xml
Labels: engraving

#22874 Infer playing techniques on XML import
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.cpp
  src/importexport/musicxml/internal/musicxml/importmxmlpass2.h
  src/importexport/musicxml/tests/data/testInferredTechnique.xml
  src/importexport/musicxml/tests/data/testInferredTechnique_ref.mscx
  src/importexport/musicxml/tests/data/testTextOrder_ref.mscx
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#22550 Add option to have long, short or hidden instrument names
  share/templates/02-Choral/04-SATB_Closed_Score/04-SATB_Closed_Score.mscx
  share/templates/02-Choral/04-SATB_Closed_Score/score_style.mss
  share/templates/02-Choral/05-SATB_Closed_Score_+_Organ/05-SATB_Closed_Score_+_Organ.mscx
  share/templates/02-Choral/05-SATB_Closed_Score_+_Organ/score_style.mss
  share/templates/02-Choral/06-SATB_Closed_Score_+_Piano/06-SATB_Closed_Score_+_Piano.mscx
  share/templates/02-Choral/06-SATB_Closed_Score_+_Piano/score_style.mss
  share/templates/02-Choral/07-Voice_+_Piano/07-Voice_+_Piano.mscx
  share/templates/02-Choral/07-Voice_+_Piano/score_style.mss
  share/templates/02-Choral/08-Barbershop_Quartet_(Men)/08-Barbershop_Quartet_(Men).mscx
  share/templates/02-Choral/08-Barbershop_Quartet_(Men)/score_style.mss
  share/templates/02-Choral/09-Barbershop_Quartet_(Women)/09-Barbershop_Quartet_(Women).mscx
  share/templates/02-Choral/09-Barbershop_Quartet_(Women)/score_style.mss
  share/templates/02-Choral/10-Liturgical_Unmetrical/10-Liturgical_Unmetrical.mscx
  share/templates/02-Choral/10-Liturgical_Unmetrical/score_style.mss
  share/templates/02-Choral/11-Liturgical_Unmetrical_+_Organ/11-Liturgical_Unmetrical_+_Organ.mscx
  share/templates/02-Choral/11-Liturgical_Unmetrical_+_Organ/score_style.mss
  share/templates/03-Chamber_Music/01-String_Quartet/01-String_Quartet.mscx
  share/templates/03-Chamber_Music/01-String_Quartet/score_style.mss
  share/templates/03-Chamber_Music/02-Wind_Quartet/02-Wind_Quartet.mscx
  share/templates/03-Chamber_Music/02-Wind_Quartet/score_style.mss
  share/templates/03-Chamber_Music/03-Wind_Quintet/03-Wind_Quintet.mscx
  share/templates/03-Chamber_Music/03-Wind_Quintet/score_style.mss
  share/templates/03-Chamber_Music/04-Saxophone_Quartet/04-Saxophone_Quartet.mscx
  share/templates/03-Chamber_Music/04-Saxophone_Quartet/score_style.mss
  share/templates/03-Chamber_Music/05-Brass_Quartet/05-Brass_Quartet.mscx
  share/templates/03-Chamber_Music/05-Brass_Quartet/score_style.mss
  share/templates/03-Chamber_Music/06-Brass_Quintet/06-Brass_Quintet.mscx
  share/templates/03-Chamber_Music/06-Brass_Quintet/score_style.mss
  share/templates/05-Jazz/02-Big_Band/02-Big_Band.mscx
  share/templates/05-Jazz/03-Jazz_Combo/03-Jazz_Combo.mscx
  share/templates/07-Band_and_Percussion/01-Concert_Band/01-Concert_Band.mscx
  share/templates/07-Band_and_Percussion/02-Small_Concert_Band/02-Small_Concert_Band.mscx
  share/templates/07-Band_and_Percussion/03-Brass_Band/03-Brass_Band.mscx
  share/templates/07-Band_and_Percussion/04-Marching_Band/04-Marching_Band.mscx
  share/templates/07-Band_and_Percussion/05-Small_Marching_Band/05-Small_Marching_Band.mscx
  share/templates/07-Band_and_Percussion/06-Battery_Percussion/06-Battery_Percussion.mscx
  share/templates/07-Band_and_Percussion/07-Large_Pit_Percussion/07-Large_Pit_Percussion.mscx
  share/templates/07-Band_and_Percussion/08-Small_Pit_Percussion/08-Small_Pit_Percussion.mscx
  share/templates/07-Band_and_Percussion/09-European_Concert_Band/09-European_Concert_Band.mscx
  share/templates/08-Orchestral/01-Classical_Orchestra/01-Classical_Orchestra.mscx
  share/templates/08-Orchestral/02-Symphony_Orchestra/02-Symphony_Orchestra.mscx
  share/templates/08-Orchestral/03-String_Orchestra/03-String_Orchestra.mscx
  src/engraving/rendering/dev/systemlayout.cpp
  src/engraving/style/styledef.cpp
  src/engraving/style/styledef.h
  src/engraving/types/types.h
  src/notation/view/widgets/editstyle.cpp
  src/notation/view/widgets/editstyle.ui
  vtest/scores/instrument-names-2.mscz
  vtest/scores/instrument-names-3.mscz
Labels: vtests

#22490 Allow unison cue notes to overlap
  src/engraving/rendering/dev/chordlayout.cpp
  vtest/scores/chord-small.mscz
Labels: vtests

#22614 MusicXML: mark linked staves when writing staff-details
  src/importexport/musicxml/internal/musicxml/exportxml.cpp
Labels: MusicXML

#21449 Ignore invisible items for dot layout
  src/engraving/rendering/dev/chordlayout.cpp
  src/engraving/rendering/dev/tlayout.cpp
  vtest/scores/chord-layout-dots-1.mscz
  vtest/scores/chord-layout-dots-3.mscz
Labels: vtests
