Repository musescore/MuseScore, pull requests merged in 2024-11, with the labels that each got.

#25374 Breve-rest corrections
  src/engraving/dom/rest.cpp
  src/engraving/dom/rest.h
  src/engraving/rendering/score/tlayout.cpp
  vtest/scores/rests-10.mscz
  vtest/scores/rests-9.mscz
Labels: vtests

#24997 Ensure trills & vibrato lines do not overlap grace notes and clefs
  src/engraving/dom/trill.cpp
  src/engraving/dom/trill.h
  src/engraving/dom/vibrato.cpp
  src/engraving/dom/vibrato.h
  src/engraving/infrastructure/shape.cpp
  src/engraving/infrastructure/shape.h
  vtest/scores/ornament-10.mscz
  vtest/scores/vibrato-2.mscz
Labels: vtests

#25485 Include offset in setting lyrics shape
  src/engraving/rendering/score/chordlayout.cpp
  vtest/scores/lyrics-26.mscz
Labels: vtests, regression MS4, engraving

#24174 MusicXML: add support for numerals
  src/importexport/musicxml/internal/musicxml/export/exportmusicxml.cpp
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
  src/importexport/musicxml/tests/data/testHarmony6_ref.xml
  src/importexport/musicxml/tests/data/testHarmony9.xml
  src/importexport/musicxml/tests/data/testNumerals.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#25557 [4.4.4] migrate updates to MEI support
  src/importexport/mei/internal/meiconverter.cpp
  src/importexport/mei/internal/meiconverter.h
  src/importexport/mei/internal/meiexporter.cpp
  src/importexport/mei/internal/meiexporter.h
  src/importexport/mei/tests/data/color-01.mei
  src/importexport/mei/tests/data/dynamic-01.mei
  src/importexport/mei/tests/data/ending-01.mei
  src/importexport/mei/tests/data/hairpin-01.mei
  src/importexport/mei/tests/data/octave-01.mei
  src/importexport/mei/tests/data/tempo-01.mei
Labels: MEI
