Repository musescore/MuseScore, pull requests merged in 2025-03, with the labels that each got.

#26771 [MusicXML] add forgotten technical indications
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
Labels: MusicXML

#26856 [MusicXML] import staff line details
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
  src/importexport/musicxml/tests/data/testLineDetails.mscx
  src/importexport/musicxml/tests/data/testLineDetails.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#26773 [MusicXML] read non-arpeggiate color and avoid double checks
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
Labels: MusicXML

#26840 Fix errors in header distances calculation
  src/engraving/dom/segment.cpp
  src/engraving/rendering/score/horizontalspacing.cpp
  src/engraving/rendering/score/horizontalspacing.h
  src/engraving/tests/parts_data/partStyle-score-reload-ref.mscx
  vtest/scores/clefPosition.mscz
Labels: vtests

#26892 Fix time sig interactions with timesigs at the end of measures
  src/engraving/dom/edit.cpp
  src/engraving/dom/timesig.cpp
  src/engraving/rendering/score/modifydom.cpp
Labels: P2, engraving, UX/interaction, Pre-release feature issue

#26929 Fix partial ties with adjacent empty segs & parens
  src/engraving/rendering/score/slurtielayout.cpp
  vtest/scores/partials.mscz
  vtest/scores/partials2.mscz
Labels: vtests, P1, engraving, Pre-release feature issue

#26924 Continuous view fixes
  src/engraving/rendering/score/horizontalspacing.cpp
  src/engraving/rendering/score/horizontalspacing.h
  src/engraving/rendering/score/layoutcontext.cpp
  src/engraving/rendering/score/layoutcontext.h
  src/engraving/rendering/score/scorehorizontalviewlayout.cpp
Labels: vtests

#26844 4.5.0: Update all Linux builds to use Ubuntu 22.04
  .github/workflows/build_all.yml
  .github/workflows/build_backend.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_without_qt.yml
  .github/workflows/check_visual_tests.yml
  .github/workflows/update_release_info.yml
  .github/workflows/update_release_info_clear.yml
  buildscripts/ci/vtests/generate_pngs.sh
Labels: needs review

#26951 Input by duration: tutorial video link
  src/appshell/qml/NotationPage/NotationPage.qml
Labels: Input by duration

#26990 [MusicXML] import feathered beams
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
  src/importexport/musicxml/tests/data/testBeams4.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#27017 Fix attach dynamic to end of duration
  src/engraving/dom/segment.cpp
  src/engraving/dom/textbase.cpp
Labels: UX/interaction, regression nightly

#26911 [MusicXML] Improve notehead names import
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
  src/importexport/musicxml/tests/data/testNoteheadNames.mscx
  src/importexport/musicxml/tests/data/testNoteheadNames.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#26559 [MusicXML] Add glissando line styles
  src/importexport/musicxml/internal/musicxml/export/exportmusicxml.cpp
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
  src/importexport/musicxml/tests/data/testGlissandoLines.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#26876 [MusicXML] import hooks
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
  src/importexport/musicxml/tests/data/testLines4.mscx
  src/importexport/musicxml/tests/data/testLines4.xml
  src/importexport/musicxml/tests/musicxml_tests.cpp
Labels: MusicXML

#26801 [MusicXML] fix harmonic import
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass2.cpp
Labels: MusicXML

#26770 [MusicXML] Extend metadata support
  src/importexport/musicxml/internal/musicxml/export/exportmusicxml.cpp
  src/importexport/musicxml/internal/musicxml/import/importmusicxmlpass1.cpp
  src/importexport/musicxml/tests/data/testBackupRoundingError_ref.mscx
  src/importexport/musicxml/tests/data/testDurationLargeError_ref.mscx
  src/importexport/musicxml/tests/data/testDurationRoundingError_ref.mscx
Labels: MusicXML

#27075 [MusicXML] clean-up and unify code
  src/importexport/musicxml/internal/musicxml/export/exportmusicxml.cpp
Labels: MusicXML

#27194 Set tie track2 to the correct value in parts
  src/engraving/dom/edit.cpp
Labels: P1, crash

#27198 Reset hairpin offset on create from dynamic and drag
  src/engraving/dom/editdata.h
  src/engraving/dom/hairpin.cpp
  src/engraving/dom/hairpin.h
  src/notation/inotationinteraction.h
  src/notation/internal/notationinteraction.cpp
  src/notation/internal/notationinteraction.h
  src/notation/tests/mocks/notationinteractionmock.h
Labels: engraving, UX/interaction

#27199 WASAPI. Attempt to suppress exception when receiving devices
  src/framework/audio/internal/platform/win/wasapiaudiodriver.cpp
Labels: crash

#27237 Check that frames is not empty before trying to access `first()`
  src/framework/dockwindow/thirdparty/KDDockWidgets/src/private/FloatingWindow.cpp
Labels: crash
